.main {
  height: 95vh;
  background-color: black;
  color: white;
  background-image: url(../../assets/windows-98.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

.title {
  margin: 0;
}