.main {
  height: 93vh;
  background-color: black;
  color: white;
  background-image: url(../../assets/win98.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  margin: 0;
}