.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 700px;
  background-color: black;
  color: white;
  font-size: 14px;
  user-select: none;
  border: 1px solid grey;
  overflow: hidden;


  & p {
    margin: 0;
  }
}

.header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 8%;
}

.terminal {
  padding: 10px;
  color: green;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 92%;
}

.closeModal {
  &:hover {
    cursor: pointer;
    color: red;
    opacity: 75%;
  }
}

.input {
  color: green;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  resize: none;
  font-weight: 300;
}